<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/css/darkly-bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/3d-btns.css">