<title><%= title %></title>
<link sizes="32*32" rel="icon" type="image/png" href="/images/icon.ico">
<link rel="stylesheet" type="text/css" href="/css/darkly-bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/3d-btns.css">
<link rel="stylesheet" type="text/css" href="/css/alerts.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">