<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body>
<% include partials/messages %>
<div class="container dynamicTile">
<div class="row ">
    <div class="col-sm-2 col-xs-4">
        <a href="/register">
            <div id="tile5" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption">Registe-se</h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption">Faça o seu registo sem demoras</h3>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-sm-2 col-xs-4">
        <a href="/login">
            <div id="tile1" class="tile">
                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption" style="text-decoration: none">Faça log in</h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption" style="text-decoration: none">E desfrute de tudo o que temos para lhe oferecer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile2" class="tile">
                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption">Bem-Vindo à Loja Placeholder</h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption">Consulte todos os produtos e soluções que temos para lhe oferecer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile6" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption">Promoções</h3>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-8">
        <a href="/products">
            <div id="tile7" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption">Veja todos os produtos que temos</h3>
                        </div>
                        <div class="item">
                            <img src="http://cdn1.xda-developers.com/devdb/deviceForum/screenshots/2589/20131018T122945.png" class="img-responsive" style="height: 100%"/>
                        </div>
                        <div class="item">
                            <img src="https://lh6.ggpht.com/gr0qGRK8LZtBhHw_QPQRi_CLzx6bU0JrXxUJHcPKtOpdqO0efXGG-tg5Xu1QxYnEirE=w3200" class="img-responsive" style="height: 100%"/>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile10" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption"><i class="fa fa-mobile fa-4x"></i></h3>
                        </div>

                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile10" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://i.ytimg.com/vi/R4-YdC5N6Lo/maxresdefault.jpg" class="img-responsive"/>
                        </div>

                    </div>
                </div>

            </div>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile8" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://cdn1.xda-developers.com/devdb/deviceForum/screenshots/2589/20131018T122945.png" class="img-responsive" style="height: 100%"/>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="/products">
            <div id="tile11" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://www.tu.no/incoming/2014/07/07/1200030275.jpg/alternates/h1080/1200030275.jpg" class="img-responsive"/>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-sm-4 col-xs-8">
        <a href="">
            <div id="tile10" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://files.tested.com/photos/2013/01/09/43717-ubuntu1.jpg" class="img-responsive"/>
                        </div>

                    </div>
                </div>

            </div>
        </a>
    </div>

</div>

</div>

<% include partials/scripts %>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
