<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body ng-app="login-app">
<% include partials/messages %>
<% include partials/header %>
<div class="container vertical-offset-100" ng-controller="LoginController as loginCtrl">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="../images/login.png" style="width:30%;height:30%" class="img-responsive"
                             alt="Console Admin"/>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="loginForm">
                                <input class="form-control" ng-model="formData.email" type="email"
                                       placeholder="Email"
                                       required/>
                        <br/>

                                <input class="form-control" ng-model="formData.password" type="password"
                                       placeholder="Password"
                                       required/>
                        <br/>
                        <button style="width: 100%; margin: 0" class="btn btn-sky btn-lg text-uppercase"
                                ng-disabled="!loginForm.$valid"
                                type="submit"
                                ng-click="login()">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%include partials/scripts %>
<script type="text/javascript" src="/js/app-login.js"></script>
</body>
</html>